utils
ipython
ipykernel
ipywidgets

pytest
mkdocs
mkdocs-material

torch
diffusers
transformers
scipy
accelerate
pypdf 
llama-index
llama-cpp-python
sentence-transformers
langchain
ctransformers

gradio
